.roww {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Create 2 equal-width columns */
  gap: 20px; /* Adjust the gap between grid items as needed */
}

.columnn {
  padding: 20px;
  text-align: center;
}

/* Optional: Add responsive styles for smaller screens */
@media (max-width: 768px) {
  .columnn {
    max-width: 100%; /* Make the columns full-width on smaller screens */
  }
}
